<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing my MEng in Mechanical Engineering at 
      <a class="underline-link" href="https://www.mie.utoronto.ca/" target="_blank">The University of Toronto</a>, with a specialization in Computational Mechanics. I recently completed an internship at a med-tech startup, funded by <a class="underline-link" href="https://hatchery.engineering.utoronto.ca/" target="_blank">The Entrepreneurship Hatchery</a>, 
      where I worked on the product design and prototyping of a small intestine entroscopy device. My prior internship experiences also include summer-long stints at <a class="underline-link" href="https://www.tatamotors.com/" target="_blank">TATA Motors</a> and <a class="underline-link" href="https://www.polyvaultauto.com/" target="_blank">Polyvault Auto</a>. 
    </p>

    <p>
      As a mechanical engineer, I enjoy bridging the gap between simulation and real-world performance by combining computational mechanics, CFD, and FEA with practical design and testing. 
      Through my work in the <a class="underline-link" href="https://turbulence.mie.utoronto.ca/" target="_blank">Turbulence Research Lab</a> on active flow devices, and on 
      <a class="underline-link" href="https://fsaeutoronto.ca/" target="_blank">The University of Toronto Formula Racing Team</a> in the aerodynamics and suspension sections, 
      my goal is to develop designs and simulation workflows that are numerically robust, and translate into components that are manufacturable, reliable and high-performing.
    </p>

    <p>
      <strong>When I'm not working on bringing CAD models to life</strong>, I'm probably watching sports, immersed in a video game,
      or experimenting in the kitchen.
    </p>

    {% include employment-status.html %}
  </div>
</section>
