<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Samir Kadri</span>, a mechanical engineering grad-student at the University of Toronto. I love designing, analyzing and building everything from high-performance automotive and aerospace parts to novel medical devices, with a focus on turning ideas into manufacturable products
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:samir.kadri@mail.utoronto.ca" target="_blank" class="highlight-link">samir.kadri@utoronto.ca</a>
    </span>
  </h3>
</header>
